.form {
  max-width: 385px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 120px;
  align-items: center;
  width: 100%;
}
.form__fieldset {
  box-sizing: border-box;
  max-width: 385px;
  width: 100%;
  border: 0px;
  box-shadow: none;
}

.form__label {
  display: block;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 8px;
}

.form__input {
  border-radius: 4px;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 32px;
  padding-left: 20px;
  box-sizing: border-box;
  padding-top: 15px;
  padding-bottom: 15px;
  max-width: 385px;
  width: 100%;
  height: 60px;
}

.form__button {
  color: #fff;
  background-color: #2f80ed;
  border-radius: 4px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  max-width: 385px;
  width: 100%;
  height: 60px;
}
.form__button:hover {
  opacity: 70%;
}
.form__checkbox {
  border-radius: 2px;
  display: inline;
}
.form__label-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 32px;
  gap: 12px;
}
